{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Эксклюзивный жилой особняк в центре Москвы</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap-grid-3.3.1.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/fancybox/jquery.fancybox.css' %}">
	<link rel="stylesheet" href="{% static 'libs/slick/slick.css' %}">
	<link rel="stylesheet" href="{% static 'libs/slick/slick-theme.css' %}">
	<link rel="stylesheet" href="{% static 'libs/fancybox/jquery.fancybox.css' %}">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-W62XNXT');</script>
	<!-- End Google Tag Manager -->
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">

</head>
<body>
	
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W62XNXT"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<header class="header-wrapper" style="background-image: url('{% static 'img/header-bg.jpg' %}');">
		<div class="container">
			<div class="phone">
				<p>metropolisloft@gmail.com</p>
				<span>+7 (903) 960-36-64</span>
				<a href="/contact">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
			<p>Продажа</p>
			<div class="header-content-container main-sell-text">
				<div class="main-tag">
					<h4>Эксклюзивный</h4>
					<p>Жилой особняк</p>
					<h5>в центре</h5>
					<h3>Москвы</h3>
				</div>
				<div class="address">
					<img src="{% static 'img/map-marker.png' %}" alt="">
					<span>ул. Большая Ордынка, д. 29/10, стр. 3</span>
				</div>
			</div>
		</div>
		<div class="white-line-wrapper">
			<div class="container">
				<div class="header-content-container white-line">
					<ul>
						<li>
							<div class="icon">
								<img src="{% static 'img/white-line-icon1.png' %}" alt="">
								<p>326 м<sup>2</sup></p>
							</div>
							<span>Общая площадь</span>
						</li>
						<li>
							<div class="icon">
								<img src="{% static 'img/white-line-icon2.png' %}" alt="">
								<p>250 м</p>
							</div>
							<span>Метро «Третьяковская»</span>
						</li>
						<li>
							<div class="icon">
								<img src="{% static 'img/white-line-icon3.png' %}" alt="">
								<p>1,2 км</p>
							</div>
							<span>Московский Кремль</span>
						</li>
						<li>
							<div class="icon">
								<img src="{% static 'img/white-line-icon4.png' %}" alt="">
								<p>250 м</p>
							</div>
							<span>Третьяковская галерея</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<a href="/contact" class="perple-btn header-btn">Записаться на просмотр</a>
		</div>
	</header>

	<div class="main-content-wrapper">
		
		
		<section class="about-wrapper content-section">
			<div class="container">
				<div class="about">
					<p>Жилой особняк в замоскворечье это...</p>
				</div>
			</div>
			<div class="about-container">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="cell">
								<img src="{% static 'img/circle-icon1.png' %}" alt="">
								<span>
									Собственный особняк в центре Москвы рядом с Кремлем	
								</span>
							</div>	
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="cell">
								<img src="{% static 'img/circle-icon2.png' %}" alt="">
								<span>
									Признание в обществе
самых успешных людей
Москвы

								</span>
							</div>	
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="cell">
								<img src="{% static 'img/circle-icon3.png' %}" alt="">
								<span>
									Собственный закрытый
двор с парковкой на
3 автомобиля
								</span>
							</div>	
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="cell">
								<img src="{% static 'img/circle-icon4.png' %}" alt="">
								<span>
									Состояние «Под чистовую
 отделку», территория
 благоустроена
								</span>
							</div>	
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="cell">
								<img src="{% static 'img/circle-icon5.png' %}" alt="">
								<span>
									Сделка происходит
«В белую» по договору
Купли-продажи
								</span>
							</div>	
						</div>
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="cell">
								<img src="{% static 'img/circle-icon6.png' %}" alt="">
								<span>
									В шаговой доступности
Все достопримечательности
Столицы
								</span>
							</div>	
						</div>
					</div>
				</div>
			</div>

			<div class="about-slider-container">
				<div class="slide">
					<img src="{% static 'img/slick-slide-1.jpg' %}" alt="">
				</div>
				<div class="slide">
					<img src="{% static 'img/slick-slide-2.jpg' %}" alt="">
				</div>
				<div class="slide">
					<img src="{% static 'img/slick-slide-3.jpg' %}" alt="">
				</div>
				<div class="slide">
					<img src="{% static 'img/slick-slide-4.jpg' %}" alt="">
				</div>
				<div class="slide">
					<img src="{% static 'img/slick-slide-5.jpg' %}" alt="">
				</div>
			</div>
				<div class="container">
					<div class="about-text">
						<p>Особняк удобно расположен в тихом месте на второй линии домов по Большой и по Малой Ордынке и идеально подходит для постоянного проживания или для использования в качестве временной резиденции.
						Близлежащие улицы полностью реконструированы по программе "Моя улица". <br>
						 Метро "Третьяковская" - 250 метров.</p>
					</div>
				</div>
			<div class="about-container btn">
				<div class="container">
					<p class="">
						<a href="/contact" class="perple-btn">Записаться на просмотр</a>
					</p>
				</div>
			</div>	
		</section>

		<section class="photo-wrapper content-section">
			<div class="container flex-container">
				<div class="photo-row-wrapper first">
					<div class="image">
						<img src="{% static 'img/about1.png' %}" alt="">
					</div>
					<div class="text">
						<p>Исторический район Замоскворечье является одним из красивейших и наиболее органично сформированных районов Москвы. Основу составляют невысокие старинные усадьбы, многочисленные церкви и храмы. 
						<br><br>
						Замоскворечье очень комфортно для жизни,
						поскольку отличается от других центральных районов Москвы еще и наименьшей плотностью застройки, большим количеством скверов и пешеходных зон, многочисленными кафе, барами и ресторанами, развитой сетью велодорожек.</p> 
					</div>
				</div>
				<div class="photo-row-wrapper second">
					<div class="image">
						<img src="{% static 'img/about2.png' %}" alt="">
						<div class="circle">
							<span></span>
							<div class="small">
								<span></span>
							</div>
						</div>
					</div>
					<div class="text">
						<p><span>В комфортной пешей доступности находятся излюбленные места семейного досуга москвичей – парк им. Горького, парк «Музеон» и Нескучный сад. Также неподалеку открылся новый парк «Зарядье». До Кремля – всего лишь 1,2 километра.</span></p>
					</div>
				</div>
				<div class="photo-row-wrapper three">
					<div class="image">
						<img src="{% static 'img/about3.png' %}" alt="">
					</div>
					<div class="text">
						<p>Поблизости расположено много объектов культурного досуга: театры, музеи, в том числе и знаменитая Третьяковская галерея. Большое количество иностранных посольств, а также высокая концентрация правительственных учреждений – все это влияет на то, что район является одним из самых спокойных и безопасных в Москве.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="phone-form-wrapper content-section" style="background-image: url('{% static 'img/middle-bg.jpg' %}');">
			<div class="container">
				<div class="header-content-container main-sell-text">
					<!-- <p>Продажа</p> -->
					<div class="main-tag">
						<h4>Современный</h4>
						<p>особняк</p>
						<h5>На Большой Ордынке</h5>
						<h3>1,2 км от Кремля</h3>
					</div>
				</div>
				<div class="phone-form">
		
						
					</div>
			</div>
			<div class="container">
				<a href="/contact" class="perple-btn header-btn">Записаться на просмотр</a>
				<span>*Ваши данные не будут переданы 3-им лицам и использованы для СПАМ-рассылок</span>
			</div>
		</section>

		<section class="layout-wrapper content-section">
			<div class="container">
				<div class="layout">
					<p>Планировка особняка</p>
					<span>Огороженный благоустроенный двор с парковкой на три автомобиля рядом с Третьяковской галереей</span>
					<div class="slide-menu">
						<ul>
							<li class="active"><a href="#" class="first-slide">Цокольный этаж <img src="{% static 'img/check.png' %}" alt=""></a></li>
							<li><a href="#" class="second-slide">Первый этаж <img src="{% static 'img/check.png' %}" alt=""></a></li>
							<li><a href="#" class="three-slide">Второй этаж <img src="{% static 'img/check.png' %}" alt=""></a></li>
							<li><a href="#" class="four-slide">Крыша <img src="{% static 'img/check.png' %}" alt=""></a></li>
						</ul>
					</div>

					<div class="layout-slider-container">
						<div class="slide">
							<img src="{% static 'img/home-slide-1.jpg' %}" alt="">
						</div>
						<div class="slide">
							<img src="{% static 'img/home-slide-2.jpg' %}" alt="">
						</div>
						<div class="slide">
							<img src="{% static 'img/home-slide-3.jpg' %}" alt="">
						</div>
						<div class="slide">
							<img src="{% static 'img/home-slide-4.jpg' %}" alt="">
						</div>
					</div>
					<div class="layout-info">
						<div class="stage">
							<p>Этажность</p>
							<ul>
								<li>-Цоколь</li>
								<li>-Первый этаж</li>
								<li>-Второй этаж</li>
								<li>-Крыша</li>
							</ul>
						</div>
						<div class="condition">
							<p>Состояние:</p>
							<ul>
								<li>
									Под чистовую отделку
								</li>
							</ul>
						</div>
						<div class="plus">
							<ul>
								<li>
									<img src="{% static 'img/check.png' %}" alt="">
									<span>Отличная инсоляция</span>
								</li>
								<li>
									<img src="{% static 'img/check.png' %}" alt="">
									<span>Просторная эксплуатируемая кровля площадью 100 кв. м</span>
								</li>
								<li>
									<img src="{% static 'img/check.png' %}" alt="">
									<span>Смонтированы все современные коммуникации</span>
								</li>
								<li>
									<img src="{% static 'img/check.png' %}" alt="">
									<span>Кондиционирование и вентиляция Daikin</span>
								</li>
								<li>
									<img src="{% static 'img/check.png' %}" alt="">
									<span>Возможность устройства каминов и гриля с открытым огнем на кухне</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="layout-container btn">
				<div class="container">
					<p class="">
						<a href="/contact" class="perple-btn">Записаться на просмотр</a>
					</p>
				</div>
			</div>	
		</section>

		<section class="map-wrapper content-section">
			<div class="container">
				<!-- <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8a7c962bd5436489876df65ccdf235fa6ab89a307d6f6f6ea01340fa1156f341&amp;source=constructor" width="1131" height="551" frameborder="0"></iframe> -->
				<div class="map-container">
					<div id="map"></div>
				</div>
			</div>
		</section>
		

	</div>

	<footer class="footer-wrapper">
		<div class="container">
			<div class="address">
				<img src="{% static 'img/map-marker.png' %}" alt="">
				<span>ул. Большая Ордынка, д. 29/10, стр. 3</span>
			</div>
		</div>
		<div class="phone-container">
			<div class="container ">
				<div class="phone">
					<p>metropolisloft@gmail.com</p>
					<span>+7 (903) 960-36-64</span>
					<a href="/contact">ЗАКАЗАТЬ ЗВОНОК</a>
				</div>
			</div>
		</div>
	</footer>

	<div id="phone-form" class="fancy-wrapper">
		<p>Узнать подробнее</p>
		<span>Оставьте свои контактные данные и мы
перезвоним Вам и расскажем, как
провести незабываемый вечер со своей
второй половинкой!</span>
		<form id="popup-form" action="" method="POST">
			<p><input type="text" name="phone" id="phone-number-form" required placeholder="Номер телефона для связи"></p>
			<button type="submit">Узнать подробнее</button>
			<span>Нажимая на кнопку, вы даете согласие на обработку своих
 персональных данных и соглашаетесь с <br>
<a href="#">Политикой конфиденциальности</a></span>
		</form>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<![endif]-->
	<script src="{% static 'libs/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script src="{% static 'libs/mask/jquery.maskedinput.min.js' %}"></script>
	<script src="{% static 'libs/slick/slick.min.js' %}"></script>
	<script src="{% static 'libs/fancybox/jquery.fancybox.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
	<script type="text/javascript">
				// Map
		ymaps.ready(function () {
	    var myMap = new ymaps.Map('map', {
	            center: [55.738591068992164, 37.62511849999995],
	            zoom: 13.5,
	            controls: ['zoomControl']
	        }, {
	            searchControlProvider: 'yandex#search',
	        }),

	        // Создаём макет содержимого.
	        MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
	            '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
	        ),

	        myPlacemark = new ymaps.Placemark([55.738591068992164, 37.62511849999995], {}, {
	          iconLayout: 'default#image',
	          iconImageHref: '{% static "img/map/osobnyak.png" %}',
	          iconImageSize: [56, 83],
	          iconImageOffset: [-3, -42]
	        });

	        myPlacemark2 = new ymaps.Placemark([55.73911806899355,37.62024949999996], {}, {
	          iconLayout: 'default#image',
	          iconImageHref: '{% static "img/map/trytyakovka.png" %}',
	          iconImageSize: [56, 83],
	          iconImageOffset: [-3, -42]
	        });

	        myPlacemark3 = new ymaps.Placemark([55.74927062210741, 37.61692661519262], {}, {
	          iconLayout: 'default#image',
	          iconImageHref: '{% static "img/map/cremlin.png" %}',
	          iconImageSize: [56, 83],
	          iconImageOffset: [-3, -42]
	        });

	        myPlacemark4 = new ymaps.Placemark([55.73320360667006, 37.608467346435475], {}, {
	          iconLayout: 'default#image',
	          iconImageHref: '{% static "img/map/park.png" %}',
	          iconImageSize: [56, 83],
	          iconImageOffset: [-3, -42]
	        });

		    myMap.geoObjects
		        .add(myPlacemark)
		        .add(myPlacemark2)
		        .add(myPlacemark3)
		        .add(myPlacemark4);
		});


		$('.layout-slider-container').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			dots: false,
			arrows: true,
			centerMode: false,
			// focusOnSelect: true,
			prevArrow: '<div class="slider-btn prev-btn"><img src="{% static "img/arrow-prev.png" %}" alt=""></div>',
			nextArrow: '<div class="slider-btn next-btn"><img src="{% static "img/arrow-next.png" %}" alt=""></div>'
		});		
	</script>
</body>
</html>