{% extends 'base.html' %}

{% block content %}
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Save person</button>
          </form>
{% endblock %}