@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria/Geometria.eot");
  src: url("../fonts/Geometria/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria.woff") format("woff"), url("../fonts/Geometria/Geometria.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold/Geometria-Bold.eot");
  src: url("../fonts/Geometria-Bold/Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Bold/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold/Geometria-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBold/Geometria-ExtraBold.eot");
  src: url("../fonts/Geometria-ExtraBold/Geometria-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraBold/Geometria-ExtraBold.woff") format("woff"), url("../fonts/Geometria-ExtraBold/Geometria-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraLight/Geometria-ExtraLight.eot");
  src: url("../fonts/Geometria-ExtraLight/Geometria-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-ExtraLight/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight/Geometria-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Light/Geometria-Light.eot");
  src: url("../fonts/Geometria-Light/Geometria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Light/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light/Geometria-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium/Geometria-Medium.eot");
  src: url("../fonts/Geometria-Medium/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium/Geometria-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Thin/Geometria-Thin.eot");
  src: url("../fonts/Geometria-Thin/Geometria-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Thin/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin/Geometria-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }
