@charset "UTF-8";
/*Basic styles*/
html {
  height: 100%; }

body {
  font-size: 14px;
  line-height: 1;
  font-family: 'Geometria', sans-serif; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none; }

ol, ul {
  list-style: none; }

input {
  outline: none; }

img {
  border: 0;
  max-width: 100%; }

a {
  text-decoration: none; }

.perple-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #c248ea;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  min-height: 72px;
  color: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.43);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.43);
  -webkit-transition: .3s;
  transition: .3s;
  max-width: 406px; }
  .perple-btn:hover {
    background-color: #9031af; }

.header-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15% 0%;
  padding-bottom: 108px; }
  .header-wrapper > .container {
    position: relative; }
  .header-wrapper .phone {
    position: absolute;
    right: 15px;
    top: 0;
    text-align: right;
    color: #474747;
    font-weight: 700;
    padding: 0 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.5); }
    .header-wrapper .phone p {
      font-size: 17px;
      padding-bottom: 5px; }
    .header-wrapper .phone span {
      font-size: 22px;
      display: block;
      padding-bottom: 5px; }
    .header-wrapper .phone a {
      margin-top: 5px;
      display: block;
      text-transform: uppercase;
      background-color: transparent;
      border-radius: 7px;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: #474747;
      border: 2px solid #474747;
      width: 250px;
      height: 46px;
      line-height: 40px;
      -webkit-transition: .3s;
      transition: .3s; }
      .header-wrapper .phone a:hover {
        background-color: rgba(255, 255, 255, 0.8); }
  .header-wrapper .container > p {
    margin-top: 70px;
    color: #c248ea;
    font-size: 60px;
    line-height: 40px;
    font-weight: 700;
    margin-left: 15px;
    text-transform: uppercase;
    padding-bottom: 15px; }
  .header-wrapper .main-sell-text {
    border-left: 2px solid #fff; }
    .header-wrapper .main-sell-text .main-tag {
      max-width: 655px;
      background-color: rgba(255, 209, 86, 0.8);
      color: #474747; }
      .header-wrapper .main-sell-text .main-tag h4 {
        font-size: 72px;
        font-weight: 100;
        margin-left: 15px; }
      .header-wrapper .main-sell-text .main-tag p {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 15px; }
      .header-wrapper .main-sell-text .main-tag h5 {
        font-size: 48px;
        font-weight: 100;
        line-height: 30px;
        margin-left: 106px;
        height: 7px; }
      .header-wrapper .main-sell-text .main-tag h3 {
        color: #fff;
        font-size: 118px;
        margin-left: 7px; }
    .header-wrapper .main-sell-text .address {
      margin-left: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 18px;
      margin-bottom: 12px; }
      .header-wrapper .main-sell-text .address span {
        color: #474747;
        padding-left: 9.5px; }
  .header-wrapper .white-line-wrapper {
    overflow: hidden; }
    .header-wrapper .white-line-wrapper .white-line {
      padding-left: 60px;
      position: relative;
      margin-bottom: 20px; }
      .header-wrapper .white-line-wrapper .white-line:after {
        content: '';
        display: block;
        min-height: 94px;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        -webkit-transform: translate(-60%);
        transform: translate(-60%);
        z-index: 1;
        -webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.17);
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.17); }
      .header-wrapper .white-line-wrapper .white-line ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        min-height: 94px;
        padding-bottom: 5px;
        position: relative;
        z-index: 5; }
        .header-wrapper .white-line-wrapper .white-line ul li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #474747;
          padding-right: 25px; }
          .header-wrapper .white-line-wrapper .white-line ul li .icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; }
            .header-wrapper .white-line-wrapper .white-line ul li .icon p {
              font-size: 36px;
              font-weight: 700;
              color: #474747;
              padding-left: 7px; }
          .header-wrapper .white-line-wrapper .white-line ul li > span {
            color: #474747;
            font-size: 12px;
            font-weight: 700;
            display: block;
            padding-top: 5px; }
          .header-wrapper .white-line-wrapper .white-line ul li:first-of-type {
            padding-right: 95px; }
            .header-wrapper .white-line-wrapper .white-line ul li:first-of-type .icon p {
              font-size: 49px;
              color: #474747;
              font-weight: 700;
              padding-left: 8px; }
              .header-wrapper .white-line-wrapper .white-line ul li:first-of-type .icon p sup {
                font-weight: 800;
                font-size: 28px; }
            .header-wrapper .white-line-wrapper .white-line ul li:first-of-type span {
              font-size: 16px;
              font-weight: 700;
              display: block;
              padding-top: 0; }
          .header-wrapper .white-line-wrapper .white-line ul li:last-of-type {
            padding-right: 0; }
  .header-wrapper .header-btn {
    max-width: 406px;
    margin-left: 10px; }

.about-wrapper .about p {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 36px;
  color: #474747;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px; }

.about-wrapper .about-container {
  position: relative;
  margin-bottom: 70px; }
  .about-wrapper .about-container:after {
    position: absolute;
    width: 100%;
    content: '';
    left: 0;
    top: 50px;
    height: 2px;
    background-color: #ffd156;
    z-index: 5; }
  .about-wrapper .about-container .cell {
    text-align: center;
    position: relative;
    z-index: 7; }
    .about-wrapper .about-container .cell span {
      display: block;
      padding-top: 15px;
      font-size: 15px;
      font-weight: 300;
      max-width: 170px;
      margin: auto; }
    .about-wrapper .about-container .cell img {
      background-color: #fff;
      padding: 0 12px; }
  .about-wrapper .about-container.btn:after {
    top: 76px; }
  .about-wrapper .about-container.btn p {
    max-width: 465px;
    background-color: #fff;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 6; }
  .about-wrapper .about-container.btn a {
    margin: auto;
    position: relative;
    z-index: 7;
    margin-top: 40px;
    position: relative;
    overflow: hidden; }

.about-wrapper .about-slider-container {
  margin-bottom: 20px; }
  .about-wrapper .about-slider-container .slide {
    margin: 0 1px; }
  .about-wrapper .about-slider-container img {
    width: 100%; }
  .about-wrapper .about-slider-container .slick-dots {
    position: relative;
    bottom: 0;
    margin-top: 27px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about-wrapper .about-slider-container .slick-dots li {
      width: 17px;
      height: 17px;
      margin: 0;
      margin: 0 5px;
      -webkit-transition: .3s;
      transition: .3s; }
      .about-wrapper .about-slider-container .slick-dots li button {
        margin: auto;
        padding: 0; }
        .about-wrapper .about-slider-container .slick-dots li button:before {
          width: 100%;
          height: 100%;
          color: #ffd156;
          background-color: #ffd156;
          border-radius: 10000px;
          opacity: 1; }
      .about-wrapper .about-slider-container .slick-dots li.slick-active {
        width: 25px;
        height: 25px; }

.about-wrapper .about-text p {
  font-size: 18px;
  line-height: 22px;
  color: #474747;
  margin: auto;
  text-align: center;
  max-width: 900px; }

.photo-wrapper {
  padding-bottom: 50px;
  overflow: hidden; }
  .photo-wrapper .flex-contaier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .photo-wrapper .photo-row-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .photo-wrapper .photo-row-wrapper.first {
      margin-bottom: -100px; }
      .photo-wrapper .photo-row-wrapper.first .text {
        max-width: 570px;
        margin-left: 20px;
        padding-top: 55px; }
    .photo-wrapper .photo-row-wrapper.second {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: -75px; }
      .photo-wrapper .photo-row-wrapper.second .text {
        margin-right: auto;
        padding-left: 50px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
        .photo-wrapper .photo-row-wrapper.second .text p {
          position: relative;
          padding: 20px 0; }
          .photo-wrapper .photo-row-wrapper.second .text p:after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            display: block;
            z-index: -1;
            width: 200%;
            -webkit-transform: translateX(-46%);
            transform: translateX(-46%);
            height: 100%;
            background-color: #ffd156; }
          .photo-wrapper .photo-row-wrapper.second .text p span {
            display: block;
            max-width: 460px; }
      .photo-wrapper .photo-row-wrapper.second .image {
        position: relative;
        z-index: 10;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
        .photo-wrapper .photo-row-wrapper.second .image img {
          position: relative;
          z-index: 10; }
        .photo-wrapper .photo-row-wrapper.second .image .circle {
          position: absolute;
          z-index: 8;
          right: -89px;
          bottom: -89px; }
          .photo-wrapper .photo-row-wrapper.second .image .circle > span {
            display: block;
            width: 295px;
            height: 295px;
            background-color: #ffd156;
            border-radius: 99999px; }
          .photo-wrapper .photo-row-wrapper.second .image .circle .small {
            position: absolute;
            right: -100px;
            top: 20px; }
            .photo-wrapper .photo-row-wrapper.second .image .circle .small span {
              display: block;
              border-radius: 99999px;
              width: 180px;
              height: 180px;
              background-color: rgba(255, 209, 86, 0.75); }
    .photo-wrapper .photo-row-wrapper.three {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .photo-wrapper .photo-row-wrapper.three .text {
        max-width: 390px;
        position: relative;
        z-index: 11; }
      .photo-wrapper .photo-row-wrapper.three .image img {
        width: 95%; }
    .photo-wrapper .photo-row-wrapper .text {
      font-size: 16px;
      color: #474747;
      position: relative;
      line-height: 18px; }
      .photo-wrapper .photo-row-wrapper .text p {
        position: relative; }
    .photo-wrapper .photo-row-wrapper .image {
      position: relative; }

.phone-form-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 15% 0%;
  padding-bottom: 155px; }
  .phone-form-wrapper > .container {
    position: relative; }
  .phone-form-wrapper .main-sell-text {
    border-left: 2px solid #fff;
    padding-bottom: 25px;
    margin-bottom: -10px; }
    .phone-form-wrapper .main-sell-text .main-tag {
      max-width: 770px;
      background-color: rgba(255, 209, 86, 0.8);
      color: #474747;
      margin-top: 100px;
      padding-bottom: 15px; }
      .phone-form-wrapper .main-sell-text .main-tag h4 {
        font-size: 72px;
        font-weight: 100;
        margin-left: 27px; }
      .phone-form-wrapper .main-sell-text .main-tag p {
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 32px; }
      .phone-form-wrapper .main-sell-text .main-tag h5 {
        font-size: 48px;
        font-weight: 100;
        line-height: 43px;
        margin-left: 130px;
        height: 34px; }
      .phone-form-wrapper .main-sell-text .main-tag h3 {
        color: #fff;
        font-size: 84px;
        margin-left: 20px; }
  .phone-form-wrapper .phone-form {
    margin-bottom: 15px; }
    .phone-form-wrapper .phone-form p input {
      height: 62px;
      width: 359px;
      background-color: #fff;
      border-radius: 7px;
      margin-left: 55px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 30px;
      font-weight: 200;
      -webkit-box-shadow: inset 5px -6px 15px rgba(0, 0, 0, 0.16);
      box-shadow: inset 5px -6px 15px rgba(0, 0, 0, 0.16); }
  .phone-form-wrapper .header-btn {
    max-width: 406px;
    margin-left: 30px;
    padding: 0 24px; }
    .phone-form-wrapper .header-btn + span {
      font-size: 11px;
      font-weight: 400;
      color: #474747;
      display: block;
      padding-left: 19px;
      padding-top: 16px; }

.layout-wrapper {
  padding-top: 50px; }
  .layout-wrapper .layout > p {
    font-size: 36px;
    text-transform: uppercase;
    color: #474747;
    text-align: center;
    font-weight: 200;
    padding-bottom: 25px; }
  .layout-wrapper .layout > span {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 850px;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    color: #474747; }
  .layout-wrapper .layout .slide-menu {
    padding-top: 30px;
    padding-bottom: 50px; }
    .layout-wrapper .layout .slide-menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .layout-wrapper .layout .slide-menu ul li {
        width: 215px;
        height: 36px;
        line-height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 12px;
        padding-right: 10px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: #ffd156;
        border: 2px solid transparent;
        margin-right: 8px;
        -webkit-transition: .3s;
        transition: .3s; }
        .layout-wrapper .layout .slide-menu ul li:last-of-type {
          margin-right: 0; }
        .layout-wrapper .layout .slide-menu ul li a {
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          display: block;
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .layout-wrapper .layout .slide-menu ul li a img {
            display: none;
            opacity: 0; }
        .layout-wrapper .layout .slide-menu ul li.active {
          border-color: #ffd156;
          background-color: transparent;
          -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
          .layout-wrapper .layout .slide-menu ul li.active a {
            color: #ffd156; }
            .layout-wrapper .layout .slide-menu ul li.active a img {
              display: block;
              opacity: 1; }
        .layout-wrapper .layout .slide-menu ul li:hover {
          -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          background-color: transparent;
          border-color: #ffd156; }
          .layout-wrapper .layout .slide-menu ul li:hover a {
            color: #ffd156; }
  .layout-wrapper .layout .layout-info {
    padding-top: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 150px;
    padding-bottom: 45px; }
    .layout-wrapper .layout .layout-info .stage {
      font-size: 16px;
      line-height: 20px;
      color: #474747;
      padding-right: 41px; }
      .layout-wrapper .layout .layout-info .stage p {
        font-weight: 700; }
    .layout-wrapper .layout .layout-info .condition {
      font-size: 16px;
      line-height: 20px;
      color: #474747;
      padding-right: 30px; }
      .layout-wrapper .layout .layout-info .condition p {
        font-weight: 700; }
    .layout-wrapper .layout .layout-info .plus ul li {
      padding-bottom: 12px; }
      .layout-wrapper .layout .layout-info .plus ul li img {
        display: initial;
        margin-right: 10px; }
      .layout-wrapper .layout .layout-info .plus ul li span {
        font-size: 16px; }
      .layout-wrapper .layout .layout-info .plus ul li:last-of-type {
        padding-bottom: 0; }
  .layout-wrapper .layout .layout-slider-container .slider-btn {
    position: absolute;
    top: 19%;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 999; }
    .layout-wrapper .layout .layout-slider-container .slider-btn.prev-btn {
      left: 0;
      text-align: left; }
    .layout-wrapper .layout .layout-slider-container .slider-btn.next-btn {
      right: 0;
      text-align: right; }
    .layout-wrapper .layout .layout-slider-container .slider-btn:hover {
      opacity: 1; }
  .layout-wrapper .layout .layout-slider-container .slide > img {
    margin: auto;
    display: block; }
  .layout-wrapper .layout-container {
    position: relative;
    margin-bottom: 70px; }
    .layout-wrapper .layout-container:after {
      position: absolute;
      width: 100%;
      content: '';
      left: 0;
      top: 50px;
      height: 2px;
      background-color: #ffd156;
      z-index: 5; }
    .layout-wrapper .layout-container.btn:after {
      top: 36px; }
    .layout-wrapper .layout-container.btn p {
      max-width: 465px;
      background-color: #fff;
      text-align: center;
      margin: auto;
      position: relative;
      z-index: 6; }
    .layout-wrapper .layout-container.btn a {
      margin: auto;
      position: relative;
      z-index: 7;
      margin-top: 0px;
      position: relative;
      overflow: hidden; }

.map-wrapper {
  padding: 50px 0;
  background-image: url("../img/map-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .map-wrapper .map-container {
    position: relative;
    padding-bottom: 56.25%;
    /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    padding-bottom: 49.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
    .map-wrapper .map-container #map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.footer-wrapper {
  padding-bottom: 48px; }
  .footer-wrapper .address {
    text-align: center;
    padding-top: 13px;
    padding-bottom: 12px; }
    .footer-wrapper .address span {
      padding-left: 7px;
      font-size: 18px;
      color: #474747; }
  .footer-wrapper .phone-container {
    position: relative; }
    .footer-wrapper .phone-container:after {
      position: absolute;
      width: 100%;
      content: '';
      left: 0;
      top: 24%;
      height: 2px;
      background-color: #ffd156;
      z-index: 5; }
    .footer-wrapper .phone-container .phone {
      position: relative;
      z-index: 10;
      color: #474747;
      text-align: center;
      background-color: #fff;
      max-width: 520px;
      margin: 0 auto; }
      .footer-wrapper .phone-container .phone p {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 15px; }
      .footer-wrapper .phone-container .phone span {
        font-size: 48px;
        font-weight: 700; }
      .footer-wrapper .phone-container .phone a {
        margin-top: 5px;
        display: block;
        text-transform: uppercase;
        background-color: transparent;
        border-radius: 7px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #474747;
        border: 2px solid #474747;
        width: 225px;
        height: 41px;
        line-height: 40px;
        -webkit-transition: .3s;
        transition: .3s;
        margin: auto;
        margin-top: 25px; }
        .footer-wrapper .phone-container .phone a:hover {
          background-color: rgba(0, 0, 0, 0.8);
          color: #fff; }

#phone-form {
  max-width: 453px;
  margin: auto;
  background-color: #fff;
  border-radius: 7px;
  text-align: center;
  padding: 30px 55px 30px;
  display: none; }
  #phone-form > p {
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 25px; }
  #phone-form > span {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px; }
  #phone-form form {
    padding-top: 23px; }
    #phone-form form input {
      max-width: 273px;
      height: 45px;
      border-radius: 8px;
      border: 1px solid #c248ea;
      width: 100%;
      font-size: 16px;
      padding: 0 15px; }
    #phone-form form button {
      display: block;
      max-width: 292px;
      height: 64px;
      text-align: center;
      margin: auto;
      padding: 0 60px;
      border-radius: 199999px;
      font-weight: 700;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 25px;
      background-color: #c248ea;
      -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19); }
    #phone-form form > span {
      display: block;
      margin-top: 23px;
      font-size: 12px;
      line-height: 14px;
      font-weight: 300;
      color: #474747; }
      #phone-form form > span a {
        text-decoration: underline;
        color: #474747; }
