/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header-wrapper {
    background-position: 31% 0%; }
  .header-wrapper .white-line-wrapper .white-line:after {
    -webkit-transform: translate(-53%);
    transform: translate(-53%); }
  .photo-wrapper .photo-row-wrapper.first {
    margin-bottom: -38px; }
    .photo-wrapper .photo-row-wrapper.first .image {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0; }
    .photo-wrapper .photo-row-wrapper.first .text {
      padding-top: 15px; }
  .photo-wrapper .photo-row-wrapper.second {
    margin-bottom: -60px; }
    .photo-wrapper .photo-row-wrapper.second .image {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0; }
    .photo-wrapper .photo-row-wrapper.second .text {
      padding-left: 30px; }
      .photo-wrapper .photo-row-wrapper.second .text p {
        padding-right: 20px; }
        .photo-wrapper .photo-row-wrapper.second .text p:after {
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .photo-wrapper .photo-row-wrapper.three .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0; }
    .photo-wrapper .photo-row-wrapper.three .image img {
      width: 100%; }
  .photo-wrapper .photo-row-wrapper.three .text {
    padding-left: 30px; }
  .phone-form-wrapper {
    background-position: 29% 0%; }
  .layout-wrapper .layout .layout-slider-container .slide {
    padding: 0 70px 45px; }
  .layout-wrapper .layout .layout-slider-container .slider-btn {
    top: 15%; }
  .layout-wrapper .layout .layout-info {
    padding-left: 0;
    padding-top: 30px; }
  .layout-wrapper .layout .layout-info .plus {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0; }
    .layout-wrapper .layout .layout-info .plus ul li {
      position: relative;
      padding-bottom: 17px;
      padding-left: 36px; }
      .layout-wrapper .layout .layout-info .plus ul li img {
        position: absolute;
        left: 0;
        top: 0; }
      .layout-wrapper .layout .layout-info .plus ul li span {
        padding-top: 2px;
        display: block; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-wrapper {
    background-position: 22% 0%; }
  .header-wrapper .white-line-wrapper .white-line {
    padding-left: 20px; }
  .header-wrapper .white-line-wrapper .white-line ul li:first-of-type {
    padding-right: 30px; }
  .header-wrapper .white-line-wrapper .white-line:after {
    -webkit-transform: translate(-20%);
    transform: translate(-20%); }
  .header-wrapper .container > p {
    margin-top: 90px; }
  .about-wrapper .about-container {
    margin-bottom: 30px; }
  .about-wrapper .about-container .cell {
    padding-bottom: 20px; }
  .photo-wrapper .photo-row-wrapper.first {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
    .photo-wrapper .photo-row-wrapper.first .text {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0; }
  .photo-wrapper .photo-row-wrapper.second {
    margin-bottom: 0; }
    .photo-wrapper .photo-row-wrapper.second .image .circle {
      bottom: -60px; }
    .photo-wrapper .photo-row-wrapper.second .text {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0;
      padding-left: 0; }
  .photo-wrapper .photo-row-wrapper.three .image {
    -webkit-box-flex: 1.5;
    -ms-flex: 1.5 0 0px;
    flex: 1.5 0 0; }
  .photo-wrapper .photo-row-wrapper.three .text {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0; }
  .phone-form-wrapper {
    background-position: 20% 0%; }
  .phone-form-wrapper .main-sell-text .main-tag h3 {
    font-size: 80px; }
  .layout-wrapper .layout .slide-menu {
    padding-bottom: 50px; }
    .layout-wrapper .layout .slide-menu ul {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .layout-wrapper .layout .slide-menu ul li {
        margin-bottom: 10px; }
  .layout-wrapper .layout .layout-slider-container .slider-btn img {
    width: 50%; }
  .layout-wrapper .layout .layout-slider-container .slide {
    padding: 0 40px 45px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .header-wrapper .phone {
    padding: 0;
    background-color: transparent; }
  .header-wrapper .white-line-wrapper .white-line {
    padding-left: 0; }
  .header-wrapper .white-line-wrapper .white-line ul {
    padding: 10px 0; }
    .header-wrapper .white-line-wrapper .white-line ul li {
      padding: 0;
      padding-bottom: 10px;
      padding-right: 30px; }
      .header-wrapper .white-line-wrapper .white-line ul li:first-of-type {
        padding: 0;
        padding-bottom: 10px;
        padding-right: 30px; }
  .header-wrapper .white-line-wrapper .white-line:after {
    min-height: 100%;
    -webkit-transform: translate(-15%);
    transform: translate(-15%); }
  .header-wrapper .phone {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    text-align: right;
    padding-left: 15px; }
    .header-wrapper .phone a {
      margin-left: auto; }
  .header-wrapper .container > p {
    margin-top: 15px;
    font-size: 50px; }
  .header-wrapper .main-sell-text .main-tag h4 {
    font-size: 52px; }
  .header-wrapper .main-sell-text .main-tag p, .header-wrapper .main-sell-text .main-tag h5 {
    font-size: 38px; }
  .header-wrapper .main-sell-text .main-tag h3 {
    font-size: 98px; }
  .header-wrapper {
    background-position: 31% 0%; }
  .header-wrapper .main-sell-text .address {
    font-size: 14px; }
  .photo-wrapper .photo-row-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .photo-wrapper .photo-row-wrapper.first {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px; }
      .photo-wrapper .photo-row-wrapper.first .text {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        margin-left: 0;
        padding-top: 0; }
    .photo-wrapper .photo-row-wrapper.second {
      margin-bottom: 0; }
      .photo-wrapper .photo-row-wrapper.second .image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
        .photo-wrapper .photo-row-wrapper.second .image .circle {
          display: none; }
      .photo-wrapper .photo-row-wrapper.second .text {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
        padding-left: 0; }
        .photo-wrapper .photo-row-wrapper.second .text p:after {
          -webkit-transform: translateX(-30%);
          transform: translateX(-30%); }
    .photo-wrapper .photo-row-wrapper.three .image {
      -webkit-box-flex: initial;
      -ms-flex: initial;
      flex: initial; }
    .photo-wrapper .photo-row-wrapper.three .text {
      -webkit-box-flex: initial;
      -ms-flex: initial;
      flex: initial;
      max-width: 100%;
      padding-left: 0; }
  .phone-form-wrapper .main-sell-text .main-tag {
    max-width: 600px; }
  .phone-form-wrapper .main-sell-text > p {
    margin-top: 15px;
    font-size: 50px; }
  .phone-form-wrapper .main-sell-text .main-tag h4 {
    font-size: 52px; }
  .phone-form-wrapper .main-sell-text .main-tag p, .phone-form-wrapper .main-sell-text .main-tag h5 {
    font-size: 38px; }
  .phone-form-wrapper .main-sell-text .main-tag h3 {
    font-size: 60px; }
  .phone-form-wrapper {
    padding-bottom: 108px;
    background-position: 31% 0%; }
  .layout-wrapper .layout .layout-info .stage {
    padding-bottom: 20px; } }

@media only screen and (max-width: 595px) {
  .header-wrapper .white-line-wrapper .white-line ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header-wrapper {
    padding-bottom: 30px;
    background-position: 31% 0%; }
  .header-wrapper .container > p {
    font-size: 32px;
    padding-bottom: 0; }
  .header-wrapper .main-sell-text .main-tag h4 {
    font-size: 44px; }
  .header-wrapper .main-sell-text .main-tag p, .header-wrapper .main-sell-text .main-tag h5 {
    font-size: 20px; }
  .header-wrapper .main-sell-text .main-tag h3 {
    font-size: 70px; }
  .header-wrapper .main-sell-text .address {
    font-size: 14px; }
  .header-wrapper .phone {
    padding-top: 10px; }
  .header-wrapper .white-line-wrapper .white-line ul {
    padding-left: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    .header-wrapper .white-line-wrapper .white-line ul li {
      padding: 0;
      padding-bottom: 5px; }
      .header-wrapper .white-line-wrapper .white-line ul li:first-of-type {
        padding: 0;
        padding-bottom: 10px; }
        .header-wrapper .white-line-wrapper .white-line ul li:first-of-type .icon p {
          font-size: 36px; }
        .header-wrapper .white-line-wrapper .white-line ul li:first-of-type span {
          font-size: 12px;
          padding-top: 5px; }
  .about-wrapper .about p {
    font-size: 28px; }
  .about-wrapper .about-container:after {
    display: none; }
  .about-wrapper .about-container .cell span {
    overflow: hidden;
    max-width: 230px; }
  .phone-form-wrapper {
    padding-bottom: 30px;
    background-position: 31% 0%; }
  .phone-form-wrapper .main-sell-text > p {
    font-size: 32px; }
  .phone-form-wrapper .main-sell-text .main-tag h4 {
    font-size: 44px; }
  .phone-form-wrapper .main-sell-text .main-tag p, .phone-form-wrapper .main-sell-text .main-tag h5 {
    font-size: 25px; }
  .phone-form-wrapper .main-sell-text .main-tag h5 {
    margin-left: 30px;
    line-height: 35px; }
  .phone-form-wrapper .main-sell-text .main-tag h3 {
    font-size: 36px; }
  .phone-form-wrapper .phone-form p input {
    margin-left: 0px;
    width: 280px;
    font-size: 26px;
    padding: 0 10px;
    margin-left: 20px; }
  .phone-form-wrapper .header-btn {
    margin: auto; }
  .layout-wrapper .layout .slide-menu {
    padding-bottom: 10px; }
  .layout-wrapper .layout .slide-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .layout-wrapper .layout .slide-menu ul li {
      margin-right: 0;
      margin-left: 0; }
  .layout-wrapper .layout .layout-slider-container .slider-btn {
    top: 5%; }
    .layout-wrapper .layout .layout-slider-container .slider-btn img {
      width: 40%; }
  .layout-wrapper .layout .layout-slider-container .slide {
    padding: 0; }
    .layout-wrapper .layout .layout-slider-container .slide > img {
      padding: 0 25px; }
  .layout-wrapper .layout .layout-info .condition {
    padding-bottom: 20px;
    padding-left: 36px;
    padding-right: 0; }
  .layout-wrapper .layout .layout-info .stage {
    padding-right: 0;
    padding-left: 36px; }
  .layout-wrapper .layout .layout-info .plus {
    padding-bottom: 20px; }
  .footer-wrapper .address span {
    font-size: 14px; }
  .footer-wrapper .phone-container .phone p {
    font-size: 20px; }
  .footer-wrapper .phone-container .phone {
    max-width: 300px; }
  .footer-wrapper .phone-container .phone span {
    font-size: 26px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .header-wrapper .phone {
    text-align: left;
    padding-left: 0; }
    .header-wrapper .phone a {
      margin-right: auto;
      margin-left: 0; }
  .header-wrapper .main-sell-text .address span {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0; }
  .header-wrapper .main-sell-text .main-tag h4 {
    font-size: 36px; }
  .header-wrapper .main-sell-text .main-tag h3 {
    font-size: 62px; }
  .about-wrapper .about p {
    font-size: 22px; }
  .phone-form-wrapper .main-sell-text .main-tag h4 {
    font-size: 36px; }
  .phone-form-wrapper .main-sell-text .main-tag p, .phone-form-wrapper .main-sell-text .main-tag h5 {
    font-size: 22px; }
  .phone-form-wrapper .phone-form p input {
    width: 225px;
    font-size: 20px; }
  .phone-form-wrapper .main-sell-text .main-tag {
    margin-top: 20px; }
  .map-wrapper {
    padding: 25px 0; }
  .footer-wrapper .address {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .footer-wrapper .address span {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1  0 0;
      padding-left: 15px; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1920px) {
  .header-wrapper .phone {
    background-color: transparent; } }
